In [1]:
from variables import CONFIG
from storageutils import MySQLManager

In [9]:
id = "3"
person = "Naresh"
classyear = 3

query = "insert into sample values('{}', '{}', {});".format(
    id, person, classyear)
try:
    MySQLManager.execute_query(query, None, **CONFIG['database']['vjit'])
except Exception as error:
    print(error)

In [11]:
query = 'select * from sample where id = "{}"'.format(id)
result = {}
try:
    result = MySQLManager.execute_query(query, None, **CONFIG['database']['vjit'])
except Exception as error:
    print(error)

In [12]:
result

[{'id': '3', 'person': 'Naresh', 'classyear': 3}]